* {
  font-family: 'Red Hat Text';
  font-weight: 500;
}

.App {
  text-align: center;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.card-box {
  display: flex;
  justify-content: center;
}

.registros {
  font-family: 'Red Hat Text';
font-style: normal;
font-weight: 500;
font-size: 12px;
padding-right: 1rem;
line-height: 17px;
color: #949FA6;
text-decoration: none;
display: flex;
align-items: center;
}


.formcep {
  display: flex;
  flex-direction: column;
}


label{
  display: flex;
  flex-direction: column;
}

input {
  margin-bottom: 10px;
}

tbody {
  width: 1427px;
  display: flex;
  flex-direction: column;
}

.table-bordered>:not(caption)>* {
border-bottom: 1px !important;
}

.tr-cabecalho {
  display: flex;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* HEADER */
.profile img{
  border-radius: 5px;
  }
  
.membros {
  font-family: 'Red Hat Text';
font-style: normal;
font-weight: 500;
font-size: 13px;
padding-right: 1rem;
line-height: 17px;
color: #949FA6;
}
.header-divider {
  margin-right: 16px;
  margin-left: 16px;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.btn{
  color: #949FA6;
  margin: 2px;
}
.svg-logo-header {
  height: 17px;
  margin-right: 11px;
}

.register-logo {
  font-weight: 500;
  font-size: 18px;

}

.svglogo {
  margin-top: -10px;
}
.logo {
  font-family: 'Red Hat Text';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  margin: 0;
  line-height: 24px;
  color: #232426;
  }
  
  .header-part1 {
    display: flex;
    align-items: center;
  }
  
  .header-part2 {
    display: flex;
    align-items: center;
  }

  
  .header {
    padding: 20px;
    justify-content: space-between;
    display: flex;
    align-items: center;
  }
  
  .divider {
    position: absolute;
  width: 100%;
  height: 1px;
  left: 0px;
  top: 64px;
  color: black;
  }
  /* FIM */




/* REGISTRO / SEARCHBAR / CONTADOR */

.containerr{
  padding-left: 90px;
  padding-right: 0px;
  display: flex;
  width: 1500px;
  justify-content: center;

  flex-direction: column;
}

.divbtn{
  margin-bottom: 29px;
  margin-top: 20px;
  display: flex;
  float: left;
}

.btn-succes {
  padding-left: 20px;
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 17px;
  align-items: center;
  justify-content: center;
  display: flex;
  height: 29px;
  width: 158px;
  font-size: 13px;
  color: white !important;
  text-decoration: none;
  background-color: #7F23F7;
  border-radius: 4px;
}


/* FIM*/



/* TABELA */
.container-header {
  display: flex;
  background: rgb(255, 255, 255);
  width: 1530px;
  flex-direction: column;
}

.containe {
  margin-top: 70px;
  border: 1px solid #E8E8E8;
  box-shadow: 4px 4px 14px rgb(0 0 0 / 9%);
  border-radius: 5px;
  display: flex;
  max-width: 491px;
  max-height: 644px;
  min-width: 491px;
  min-height: 644px;
}

.container {
 display: flex;
 flex-direction: column;
}
.bar {
  margin-left: 32px;
   display: flex;
}
/* FIM*/

.newclient {
  font-size: 24px;
  padding-left: 30px;
  display: flex;
  justify-content: center;
}


label {font-weight: 500;
  font-size: 13px;
}
.table>:not(caption)>*>* {

  height: 49px;

}

.td-cabecalho-nome {
  border-right: 1px !important;
}

.tr-cabecalho {
  background-color: white;
}

/* ESTILIZACAO E POSICIONAMENTO DE TEXTOS (NOME,EMAIL,TELEFONE,CNPJ,ENDERECO,CIDADE) */

.cliente-nome {
  color: #666D73;
  text-decoration: none;
  display: flex;
    margin-top: 6px;
    margin-left: 20px;
    margin-right: -79px;
    color: #666D73;
    text-decoration: none;
    position: absolute;
    justify-content: center;
    align-items: center;
}

.cliente-nome-email {
  display: flex;
    margin-top: 6px;
    margin-left: 95px;
    margin-right: -79px;
    color: #666D73;
    text-decoration: none;
    position: absolute;
    justify-content: center;
    align-items: center;
  color: #666D73;
  text-decoration: none;
}

.cliente-nome-telefone {
  display: flex;
  margin-top: 6px;
  margin-left: 162px;
  margin-right: -79px;
  color: #666D73;
  text-decoration: none;
  position: absolute;
  justify-content: center;
  align-items: center;
  color: #666D73;
  text-decoration: none;
  color: #666D73;
  text-decoration: none;

}
.cliente-nome-CNPJ {
  display: flex;
  margin-top: 6px;
  margin-left: 230px;
  margin-right: -79px;
  color: #666D73;
  text-decoration: none;
  position: absolute;
  justify-content: center;
  align-items: center;
  color: #666D73;
  text-decoration: none;
  color: #666D73;
  text-decoration: none;
}
.cliente-nome-endereco {
  display: flex;
  margin-top: 6px;
  margin-left: 230px;
  margin-right: -79px;
  color: #666D73;
  text-decoration: none;
  position: absolute;
  justify-content: center;
  align-items: center;
  color: #666D73;
  text-decoration: none;
  color: #666D73;
  text-decoration: none;
}
.cliente-nome-cidade {
  display: flex;
  margin-top: 6px;
  margin-left: 236px;
  margin-right: -79px;
  color: #666D73;
  text-decoration: none;
  position: absolute;
  justify-content: center;
  align-items: center;
  color: #666D73;
  text-decoration: none;
  color: #666D73;
  text-decoration: none;
  padding-right: 0px;
}

.header-divider-1 {
  position: absolute;
  margin-top: 13px;
  margin-left: -438px;
}
.header-divider-2 {
  position: absolute;
  margin-top: 13px;
  margin-left: -175px;
}
.header-divider-3 {
  position: absolute;
  margin-top: 13px;
  margin-left: 313px;
}

.header-divider-4 {
  position: absolute;
  margin-top: -35px;
  margin-left: 722px;
}
.header-divider-5 {
  position: absolute;
  margin-top: -35px;
  margin-left: 962px;
}

.text-icon-1 {
  margin-top: 166px;
  position: absolute;
  margin-left: 105px;
}

.searchdiv {
  margin-right: 16px;
  margin-left: 16px;
}
.text-icon-2 {
  margin-top: 166px;
  position: absolute;
  margin-left: 1347px;
}
.text-icon-3 {
  margin-top: 166px;
  position: absolute;
  margin-left: 1133px;
}

.plus-icon {
  margin-top: -53px;
  margin-left: -694px;
  position: absolute;
}

.email-icon {
  margin-top: 168px;
  position: absolute;
  margin-left: 382px;
}

.cnpj-icon {
  margin-top: 165px;
  position: absolute;
  margin-left: 919px;
}

.telefone-icon {
  margin-top: 165px;
  position: absolute;
  margin-left: 649px;
}

/* FIM */

.btn-danger {
  background-color: #7F23F7 !important;
}

.td-cabecalho-fim {
  border-left: 1px !important;
}



.td-cabecalho {

  border-right: 0 !important;
  border-left: 0 
  !important;
  border-width: 0 !important;
}

.button-cadastrar{
  border-color: transparent ;
/* Auto layout */
font-size: 18px;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 12px 32px;
gap: 8px;
text-decoration: none;

position: absolute;
left: 6.52%;
right: 6.52%;
top: 86.67%;
bottom: 5.33%;

/* Primário/900 */

background: #7F23F7;
color: white;
border-radius: 4px;
}


.btn-close-consulta {
  font-size: 17px;
  position: absolute;
  margin-right: -544px;
  color: #949FA6;
  margin-top: 5px;
  text-decoration: none;
  }



.btn-clos {
  font-size: 17px;
  margin: 14px;
  color: #949FA6;
  text-decoration: none;
}

body {
  background-color: rgb(240, 240, 240) !important;
}





.table>tbody {
 vertical-align:baseline !important;
}

td {
  font-family: 'Red Hat Text';
font-style: normal;
font-weight: 500;
font-size: 13px;
color: #666D73;
width: 20%;

}

.tr-wallpaper {
  width: 100%;
}

.table>:not(caption)>*>* {
  background-color: var(--bs-table-bg) !important;
}


.table {
  width: 1430px !important;
  background: #FFFFFF;
/* Neutro/400 */

border: 1px solid #E8E8E8;
border-radius: 5px;
}

.table-bordered>:not(caption)>*>* {
border-width: 0 0px !important;
}

.tr-wallpaper {
  background-color: #F9F9F9;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.svgeclient {
  align-items: center;
  margin-top: 32px;
  padding-left: 32px;
  display: flex;
}

.col-lg-13 {
  display: flex;
  width: 300px;
  border: 1px solid #E8E8E8;
border-radius: 5px;
  background-color: #F2F2F2;
}

.cep-label {
  font-family: 'Red Hat Text';
font-style: normal;
font-weight: 500;
font-size: 13px;
  padding: 10px;
  display: flex;
  align-items: center;
}

.header-consulta {
  display: flex;
  justify-content: space-around;
}

.card-cep {
  --bs-card-spacer-y: 1rem;
    --bs-card-spacer-x: 1rem;
    --bs-card-title-spacer-y: 0.5rem;
    --bs-card-border-width: 1px;
    --bs-card-border-color: var(--bs-border-color-translucent);
    --bs-card-border-radius: 0.375rem;
    --bs-card-box-shadow: ;
    --bs-card-inner-border-radius: calc(0.375rem - 1px);
    --bs-card-cap-padding-y: 0.5rem;
    --bs-card-cap-padding-x: 1rem;
    --bs-card-cap-bg: rgba(0, 0, 0, 0.03);
    --bs-card-cap-color: ;
    --bs-card-height: ;
    --bs-card-color: ;
    --bs-card-bg: #fff;
    --bs-card-img-overlay-padding: 1rem;
    --bs-card-group-margin: 0.75rem;
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    width: 600px;
    margin-top: 200px;
    height: 455px;
    word-wrap: break-word;
    background-color: var(--bs-card-bg);
    background-clip: border-box;
    border: var(--bs-card-border-width) solid var(--bs-card-border-color);
    border-radius: var(--bs-card-border-radius);
}

.card-title {
  display: flex;
  margin-bottom: var(--bs-card-title-spacer-y);
  justify-content: space-between;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.form-controler {
  padding-left: 2rem;
  box-sizing: border-box;
  display: flex;
  line-height: 17px;
  align-items: center;
  font-size: 13px;
  width: 100%;
  height: 37px;
  background: #F2F2F2;
  border: 1px solid #E8E8E8;
  border-radius: 5px;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
::placeholder { 
  color: #949FA6;
  display: flex;
  margin-top: 4rem;
  padding-left: 34px;
  align-content: center;
  opacity: 1; 
  font-weight: 400;

} 
.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
